{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<main class="container py-5 text-center">
<index>
    This page is designed to create random characters. It may happen that in the creative process you don't want to
    dedicate a part of your creativity to inventing secondary characters, but you also don't want those characters
    to have no depth. That's where this page makes sense. You will not spend your valuable time on this task, you
    will only have a character that, in case it does not fit you in your story, press the button again to create
    another character quickly.
</index>


</main>
{% endblock %}